{% from "macros.html" import create_alert_msg with context %}
{% from "macros.html" import create_navbar with context %}

{% extends 'base.html' %}    

{% block content -%}
<div id="wrapper">
    <div id="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 m-auto text-center">
                    {{create_alert_msg()}}
                    <h1 class="display-1">404</h1>
                    <p class="lead">Pagina non trovata. Puoi <a class="text-primary" href="javascript:history.back()">tornare indietro </a>alla pagina precedente, 
                        oppure <a class="text-primary" href="{{ url_for('main.home') }}">ritornare al Cruscotto</a>.</p>
                </div>
            </div>   
        </div>
    </div>
</div>
{%- endblock %}		