{% from "macros.html" import create_alert_msg with context %}
{% from "macros.html" import create_navbar with context %}

{% set args=["js/main", "lib/datepicker-it"] %}

{% extends 'base.html' %}   
 
{% block content %}
{{create_navbar()}}
<div id="wrapper">
    <div id="content-wrapper">
        <div class="container">
            {{create_alert_msg()}}
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center p-2" id="hydrapp-carousel-container">                  
                </div>
            </div>   
        </div>
    </div>
</div>
{% endblock %}