{% from "macros.html" import create_alert_msg with context %}
{% from "macros.html" import create_navbar with context %}

{% set args=["js/main", "lib/datepicker-it"] %}

{% extends 'base.html' %}   
 
{% block content %}
{{create_navbar()}}
<div id="wrapper">
    <div id="content-wrapper">
        <div class="container">
            {{create_alert_msg()}}
            <div class="row p-2">
                <div class="col-12 d-flex justify-content-center align-items-center" id="hydrapp-carousel">
                    <div id="hydrapp-carousel-i" class="carousel slide">
                        <div class="carousel-inner">
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#hydrapp-carousel-i" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#hydrapp-carousel-i" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>
{% endblock %}